html {
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    margin: 0px;
    padding: 0px;
}

#container {
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
}

#outer-dropzone {
    height: 25%;
    left: 0px;
    bottom: 0px;
}

#outputButton {
    height: 25%;    
    margin: 5px 10px 0px 0px;
    position: absolute;
    width: 12%;
    right: 0;
    padding: 5px;
}

#outputButtonImg {
    max-width: 100%; 
    max-height: 100%; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    margin: auto;
}

#deadZone {
    height: 15%;  
    margin: 5px 5px 5px 5px;
    position: absolute;
    width: 15%;
    bottom: 0;
    left: 0;
    border: solid 4px white;
    border-radius: 4px;
    transition: background-color 0.3s;  
}

#deadZoneImg {
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
    margin:auto;
}

#addButton {
    height: 15%;  
    margin: 5px 5px 5px 5px;
    position: absolute;
    width: 15%;
    bottom: 0;
    right: 0;
    border: solid 4px white;
    border-radius: 4px;
    transition: background-color 0.3s;  
    background-color: white;
}

#settingsButtonSingle {
    height: 15%;  
    margin: 5px 5px 5px 5px;
    position: absolute;
    width: 14%;
    bottom: 0;
    right: 50%;
    left: 35%;
    border: solid 4px white;
    border-radius: 4px;
    transition: background-color 0.3s;  
}

#settingsButtonFrame {
    height: 15%;  
    margin: 5px 5px 5px 5px;
    position: absolute;
    width: 14%;
    bottom: 0;
    right: 35%;
    left: 50%;
    border: solid 4px white;
    border-radius: 4px;
    transition: background-color 0.3s;  
}

.settingsImg {
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
    margin:auto;    
}

#addButtonImg {
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
    margin:auto;
    background-color: white;
}

.dropzone {
    background-color: #fff;
    margin: 5px 0px 0px 5px;
    border: solid 4px transparent;
    border-radius: 4px;
    width: 84%;
    transition: background-color 0.3s;  
    float: left;
}

.drop-active {
    border-color: #000;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    position: absolute; top:0; left:0; right: 0;
    color: #000;
    background-color: #fff;
    border: solid 5px #000;
    width: 200px;
    height: 200px;  
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    border: solid 5px #0f0;
    background-color: #fff;
}